<!DOCTYPE html>
<%- include('./partials/top.ejs') %> <%- include('./partials/header.ejs') %>
<div class="h-screen flex items-center justify-center bg-gray-100">
    <div class="text-center">
        <h1 class="text-9xl font-bold text-gray-800">404</h1>
        <p class="text-2xl text-gray-600">Page Not Found</p>
        <p class="mt-4">
            <a href="/" class="text-blue-500 text-xl hover:underline">Go to Homepage</a>
        </p>
    </div>
</div>
<%- include('./partials/bottom.ejs') %>
